.git
.github
.railway
.vercel
node_modules
dist
artifacts
coverage
*.log
.env
.env.local
.env.production
**/.open-next
**/.wrangler
**/node_modules
**/.dev.vars*
.deploy-staging
tmp
**/.npm-cache
**/.next
**/.swc
.DS_Store
mpesa-official.pdf
